<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code</title>
    <style>
        .image{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 96vh;
            background-color: rgb(221, 221, 221);
        }
    </style>
</head>
<body>
    <div class="image">
        <img src=<%= qr_code %> alt="qr code">
    </div>
</body>
</html>